.carousel-inner img {
    height: 90vh;
    max-width: 100%;
}

.texto-titulo {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 20px;
}

.navbar {
    background-color: rgb(212, 207, 207) !important;
}